.stack-index {
    display: flex;
    min-height: 85vh;
    min-width:  fit-content;
}

.stack-index-content {
    display:flex;
    width: 100%;
    justify-content: center;
    margin-left: -25px;
    margin-right: -25px;
   }

/* sidebar.js file css */
.sidebar {
   position: relative; /* Add this to establish a positioning context for the button */
   display: flex;
   padding: 20px 0px 10px 10px;
   height: 100%;
   flex: 0.2;
   max-width: 160px;
   border-right: 1px solid #ddd;
}

.sidebar.collapsed {
   width: 80px; /* Adjust as needed */
}

/* Add this CSS for the toggle button */
.toggle-button {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   z-index: 100; /* Ensure it's above other elements */
}



.sidebar-container{
    margin: 5px 0;
    display:flex;
    width:100%;
}
.sidebar-options {
   display: flex;
    flex-direction: column;
    width: 200px;
}
.sidebar-option {
    display: flex;
     flex-direction: column;
     margin: 10px 0;
     font-size: 14px;
     margin-right: 15px;
 }

 a{
    text-decoration: none;
    color: #000;
 }

 a:hover {
    color:#000;
 }

 .sidebar-option >p {
    color:#000;
    font-size: 14px;
 }

 .link{
    display: flex;
    flex-direction: column;
 }

 .link-tag{
    display: flex;
     align-content: center;
    padding: 5px 0;
    width: 100%;
    margin: 5px;
 }

 .link-tag > .MuiSvgIcon-root{
    font-size: 18px;
    margin-right: 5px;
   
 }
 .link-tag:hover{
   background-color: rgb(219, 217, 217);
   border-radius: 10px;
   padding: 5px 5px 2px;
 }

 .tags{
    display: flex;
    flex-direction: column;
    color:#000;
    margin: 0px 20px;
 }
 .tags>p{

    margin: 5px 0;
 }
 .tags > p:hover{
    color: #000;
 }