@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.title1 {
  width: 25%;
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 1;
}

body {
  box-sizing: border-box;
  
}

h1,h2 {
  margin: 0;
  font-family: Montserrat, sans-serif;
  text-align: left;
}

h2 {
  color: #9e9e9e;
  font-style: italic;
  font-size: 15px;
}
.card2 {
  background-color: #eee;
  margin: 50px auto;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  height: 50vh;
}
.card__copy {
  padding: 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  border-style: none; 
}
.dropdown-item.active, .dropdown-item:active {
  background-color: green !important;
  color: white !important;
}
.btn-login {
  background: rgb(2, 113, 2);
  padding: 5px 10px 5px 10px;
}
.btn-logout {
  background: rgb(2, 113, 2);
  padding: 5px 10px 5px 10px;
}

.btn-register {
  background: rgb(2, 113, 2);
  padding: 5px 10px 5px 10px;
}

.btn-login:hover {
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}
.btn-register:hover {
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}
.btn-logout:hover {
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}
#searchQue:hover {
  border-color: black;
}
.form-control:hover {
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}
.form-control {
  box-shadow: 0 0 5px rgba(3, 74, 3, 0.5) !important;
}
